* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background-color: #2e2e2e !important;
}

.header {
	width: 40%;
	margin: 50px auto 0px;
	color: rgb(255, 255, 255);
	background: #000000;
	text-align: center;
	border: 1px solid rgb(247, 230, 1);
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.btn {
	background-color: DodgerBlue; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid rgb(0, 71, 163);
	background: rgb(255, 255, 255);
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
	background: #f3f703;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgb(255, 187, 0);
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: rgb(255, 255, 255);
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgb(8, 0, 0);
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: rgb(255, 217, 2);
	background: rgb(0, 2, 2);
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #000000; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #237701; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}

.profile_info div {
	display: inline-block; 
	margin: 5px;
}

.profile_info:after {
	content: "";
	display: block;
	clear: both;
}